<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>

<!-- Karbot -->
  <include file="$(find karbot_description)/launch/karbot_rviz.launch"/>

<!-- YDLIDAR -->
  <include file="$(find ydlidar)/launch/lidar.launch"/>

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="karbot_slam_gmapping" output="screen">
    <param name="delta" value="0.05"/>
    <param name="xmin" value="-20"/>
    <param name="xmax" value="20"/>
    <param name="ymin" value="-20"/>
    <param name="ymax" value="20"/>
    <param name="linearUpdate" value="0.5"/>
    <param name="angularUpdate" value="0.436"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="80"/>
  </node>

</launch>
