<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find map_provider)/maps/simple_test_world.yaml"/>

<arg name="open_rviz" default="true"/>

<!-- Karbot spawn -->
  <include file="$(find karbot_description)/launch/spawn.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>



  <!-- AMCL -->
  <include file="$(find karbot_navigation)/launch/amcl_test.launch"/>	
  
  <!-- path_planning -->
  <node pkg="path_planning" name="path_planning" type="RT_RRT_Star_test" />	

  <!-- Run the global costmap node -->
  <node name="global_costmap_node" pkg="costmap_2d" type="costmap_2d_node"  clear_params="true" >
    <rosparam file="$(find costmap_2d)/params/global_costmap_params.yaml" command="load"  ns="costmap" />
  </node>

 <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find karbot_navigation)/rviz/karbot_navigation.rviz"/>
  </group>

  <!-- motion_controller -->
  <node pkg="motion_controller" name="motion_controller" type="motion_controller_with_amcl" />

</launch>
